@import "tailwindcss";



@theme {
  --color-primary: #35F0D0;
  --color-secondary: #0EBEA0;
  --color-tertiary: #000000;
  --color-quaternary: #000000;
  --color-quinary: #000000;
  --color-senary: #000000;
  --color-septenary: #000000;
}

